.content {
  margin-top: 40px;
}

.button {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;

  @media (max-width: 480px) {
    margin-top: 24px;
    font-size: 16px;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--primary-color);
  display: flex;
  align-items: center;

  a {
    color: var(--primary-color);
    margin-right: 6px;
  }

  img,
  svg {
    transform: translateY(1px);
  }

  @media (max-width: 480px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
