/* stylelint-disable at-rule-no-unknown */
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../../../../public/fonts/#{$url}.ttf") format("ttf");
    font-weight: "#{$weight}";
    font-display: swap;
    font-style: $style;
  }
}
