.item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.image {
  width: 60px;
  height: 88px;
  object-fit: cover;
  margin-right: 20px;
}

.plugged {
  min-width: 60px;
  width: 60px;
  height: 88px;
  object-fit: cover;
  background: var(--bg-color);
  margin-right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.name {
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--bg-color);
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.properties {
  color: var(--bg-color);
}

@media (max-width: 480px) {
  .image {
    height: 70px;
    width: 52px;
    margin-right: 12px;
  }

  .info {
    max-width: 100%;
  }

  .name {
    font-size: 16px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .properties {
    font-size: 14px;
  }

  .searchIcon {
    width: 24px;
    height: 24px;
  }
}
