.header {
  padding: 24px 0;
  position: relative;
  z-index: 2;
  background: var(header-bg);
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.logo {
  font-size: 24px;
  text-decoration: none;

  svg {
    path {
      fill: var(primary-color);
    }
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.humburger {
  color: var(primary-color);
  cursor: pointer;
  width: 26px;
  height: auto;

  svg {
    path {
      fill: var(primary-color);
      stroke: var(primary-color);
    }
  }
}

.searchIcon {
  display: none;
}

.rightContent {
  display: flex;
  align-items: center;
  grid-gap: 0 24px;
}

.menu {
  display: flex;
  gap: 16px;
}

@media (max-width: 480px) {
  .searchIcon {
    width: 24px;
    height: 24px;
    display: block;
    color: var(primary-color);
  }

  .humburger {
    width: 24px;
    height: 24px;
  }
}
