.header
  padding: 24px 0 0 0
  display: flex
  justify-content: space-between
  align-items: center

.logo
  font-size: 24px
  color: var(--color-white)
  text-decoration: none

.menu
  display: flex
  gap: 0 40px

.menuItem
  color: var(--color-white)
  font-size: 18px
  text-decoration: none