.theme-dark {
  --primary-color: #fff;
  --secondary-color: #fed530;
  --bg-color: #1e1e1e;
  --additional-color: rgb(255 255 255 / 50%);

  /* Header */
  --header-bg: unset;
  --nav-primary-color: #000;
  --nav-bg-color: #fff;

  /* Cards */
  --card-bg-color: #fff;
  --card-text-color: 0, 0, 0;
}
