.theme-light {
  --primary-color: #000;
  --secondary-color: #fed530;
  --bg-color: #fff;
  --additional-color: rgb(255 255 255 / 50%);

  /* Header */
  --header-bg: rgb(255 255 255 / 90%);
  --nav-primary-color: #fff;
  --nav-bg-color: #000;

  /* Cards */
  --card-bg-color: #000;
  --card-text-color: 255 255 255;
}
