.categoryItem
  width: 100%
  padding: 20px
  background: var(--primary-color)
  border-radius: 16px
  display: flex
  justify-content: space-between
  align-items: center

.leftContent
  display: flex
  align-items: center

.rightContent
  display: flex
  flex-direction: column
  align-items: flex-end

.image
  width: 100px
  margin: 0
  margin-right: 20px

.info
  display: flex
  flex-direction: column
  max-width: 500px

.title
  margin-bottom: 16px
  color: var(--bg-color)
  margin-top: 0

.properties
  margin-bottom: 16px
  color: var(--bg-color)

.description
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 2
  line-clamp: 2
  -webkit-box-orient: vertical
  text-overflow: ellipsis

.rating
  margin-bottom: 10px

@media (max-width: 480px)
  .categoryItem
    padding: 16px
    border-radius: 8px

  .image
    width: 60px
    height: 90px
    object-fit: cover
    margin-right: 14px

  .title
    font-size: 16px
    margin-bottom: 12px

  .properties
    font-size: 12px
    margin-bottom: 12px

  .description
    font-size: 12px

  .rightContent
    display: none