.listItems {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.link {
  height: 100%;
  text-decoration: none;
  display: block;
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
