.notFound
  color: var(--primary-color)
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  font-size: 20px
  margin: 200px 0
  span
    display: block
    font-size: 90px
    font-weight: 700
  